div#idMenu {
    background-color: #f5f5f5a8;
}

div.btn-menu {
	display: none;
    text-align: right;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.contenedor-menu {
	text-transform: capitalize;
}

.contenedor-menu ul {
	width: 100%;
	margin: 0;
    padding: 0;
	list-style: none;
}

.contenedor-menu ul.menu {
	padding: 0 1rem;
}

.contenedor-menu ul.subMenu {
	padding-left: 2rem;
	display: none;
}

.contenedor-menu ul li a {
	color: #000;
}

.contenedor-menu ul li a:hover {
    color: #1a4a78;
}

.contenedor-menu ul.menu li div.parentMenu {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.contenedor-menu ul.menu li div.parentMenu a {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex: auto;
    column-gap: 1rem;
    align-items: center;
}

@media screen and (max-width: 650px) {
	.contenedor-menu ul.menu {
		display: none;
	    position: absolute;
	    z-index: 2;
	    background-color: rgb(243 243 240);
        box-shadow: 0px 6px 6px -5px rgb(174 174 174);
	}
	
	div.btn-menu{
		display: block;
	}
}